html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body::before{
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url(img/wallpaperflare.com_wallpaper\ \(5\).jpg);
  background-size: cover ;
  background-repeat: no-repeat;
  background-position: center;
}

.container{
  /* background-color: whitesmoke; */
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calculator{
  background-color: #253542;
  padding: 20px;
  border-radius: 10px; 
}
.calculator form input, button.del{
  border: 10px;
  outline: 0;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  background: transparent; 
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  margin: 10px;
  box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1),5px 5px 15px rgba(0,0,0,0.2);

}
.del{
  /* border: none; */
  appearance: none;
  /* background-color: white; */
  transition: transform .7s ease-in-out;
  /* margin-left:10px; */
  background-size: cover;
}
.del:hover{
  transform: rotate(360deg);
}
img{
  vertical-align: middle;
  /* margin-top: 13px; */
}

form .display{
display: flex;
justify-content: flex-end;
margin: 20px 0px;
width: 100%;
}
form .display input{
  text-align: right;
  flex: 1;
  font-size: 45px;
  box-shadow: none;
}
form input.equal{
  width: 145px;
}